body {
    cursor: default; /* Set cursor to default for the entire body */
    text-decoration: none;
}

p {
    color: black;
    margin-left: 250px;
    margin-top: 75px;
    text-decoration: none;
}

.profile {
    width: 100px;
    height: 100px;
    margin-left: 75%;
    margin-top: 190px;
}
