*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.side-bar-left {
    background: #1b1a1b;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.advertistment-side-bar {
    background: #1b1a1b;
    margin-left: 85%;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: right;
}

header {
    background: #33363a;
}

header img {
    width: 100px;
    height: 100px;
    margin: 15px;
    margin-left: 75px;
    border-radius: 50%;
    border: 3px solid #b4b8b9;
}

.close-btn {
    position: absolute;
    color: #fff;
    font-size: 23px;
    right: 0px;
    margin: 15px;
    cursor: pointer;
}

header h1 {
    text-align: center;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 13px;
    font-family: sans-serif;
    
}

.menu {
    width: 100%;
    margin-top: 30px;
}

.menu .item {
    position: relative;
    cursor: pointer;
}

.menu .item a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;

}

.item i {
    margin-right: 15px;
}

.item a .dropdown {
    position: absolute;
    right: 0;
    /* margin: ; */
    transition: .3s ease;
}

.item .sub-menu {
    background: #262627;
    display: none;
}

.item .sub-menu a {
    font-size: 13px;
    border: 1px solid blue;
}

.top-bar {
    background: red;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
}

.top-bar a  {
    margin-left: 80%;
    padding-top: 20px;
    color: #fff;
    text-decoration: none;
}

